<ion-view view-title="Home" cache-view="false" id="ion-view">
    <ion-content> 
 
        <button class="button button-block button-positive" id="get_latlng">
            Get LatLng
        </button>
         <!-- <button class="button button-block button-positive" id="testapi">
            Test Api
        </button>  -->
        
        <button class="button button-block button-positive" id="accelerometer">
            Get Accelerometer
        </button>
        <!-- <p>Insurance Home</p> -->
        
        <p style="text-align: center;"><b id="counter"></b></p>
        <div id="charts">
            <div class="wrapper"><canvas id="chart-0"></canvas></div>
        </div>
        <div id="accelerometer_list">


        </div>

         <!-- <button class="button button-block button-positive" id="bluetooth_enabled">
            Bluetooth Enabled?
        </button>

        <button class="button button-block button-positive" id="enable_bluetooth">
            Enable Bluetooth
        </button>

        <button class="button button-block button-positive" id="gps_enabled">
            GPS Enabled?
        </button>

        <button class="button button-block button-positive" id="get_weather">
            Get Weather
        </button>

        <button class="button button-block button-positive" id="send_mail">
          Send Mail
        </button>  -->

        <!-- <button class="button button-block button-positive" id="send_sms" onclick="app.sendSms()">-->
         <!-- <button class="button button-block button-positive" id="send_sms">
          Send SMS
        </button>

        <button class="button button-block button-positive" onclick="toast();">
          Toast showShortTop
        </button>

        <button class="button button-block button-positive" id="hardware_monitoring">
                Hardware Monitoring
        </button>
       
        <hr/>

        <b>Distance: </b> <b style="text-align: center;" id="read_distance"></b>
        <br/>
        <b>Collision Value: </b> <b style="text-align: center;" id="read_collision"></b>  -->

    </ion-content>
  </ion-view>

  
<!-- <script src="https://www.google.com/jsapi?key=AIzaSyAXX46Kf8xIz7ZPaZf8VABw3WPYUq0l8tg"></script> -->
