<ion-view view-title="Policies" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;" id="policy">

           <div id="policy_content">

           </div>
           
    </ion-content>
</ion-view>    
