<ion-view view-title="" cache-view="false" id="ion-view">
  <ion-pane>
        <ion-content>
        
            <div id="content" class="fullwidth" style="background-color: #e3e3e3;">
                    
              <div  class="card" style="background-color: #FFFFFF;" id="login-div">

                 <div class="list" style="margin: 20px;">

                    <h3 class="cursive_style" style="text-align: center;" id="car_action">Add Car</h3>
                           
                    <!-- ////////////// Vehicle Model ////////////// -->
                    <label class="item item-input item-stacked-label" style="border-top: none;">
                        <span class="input-label"><span id="span-model" class="ion-model-s"></span> Vehicle Model</span>
                        <input id="car-model" type="text" placeholder="KIA">
                    </label>


                    <!-- ////////////// Vehicle Make ////////////// -->
                    <label class="item item-input item-stacked-label">
                        <span class="input-label"><span id="span-make" class="ion-android-car"></span> Vehicle Make</span>
                        <input id="car-make" type="text" placeholder="Picanto">
                    </label>


                    <!-- ////////////// Vehicle Type ////////////// -->
                    <div>
                        <label class="item item-input item-stacked-label" style="border-bottom: none;">
                            <span class="input-label"><span class="ion-android-car"></span> Vehicle Type</span>
                        </label>
                    
                        <div id="content_vehicle_type" class="row item item-input item-stacked-label" style="border-top: none;">
                                <label for="simplest"></label>
                        </div>
                    </div>
                    

                    <!-- ////////////// Vehicle Year ////////////// -->
                    <!-- <label class="item item-input item-stacked-label">
                        <span class="input-label"><span id="span-year" class="ion-android-time"></span> Vehicle Year</span>
                        <input type="number" id="car-year" placeholder="1995" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;" />
                       
                    </label> -->
                    <div>
                        <label class="item item-input item-stacked-label" style="border-bottom: none;">
                            <span class="input-label"><span class="ion-android-time"></span> Vehicle Year</span>
                        </label>
                        <div id="content_vehicle_year" class="row item item-input item-stacked-label" style="border-top: none;">
                            <label for="simplest"></label>       
                        </div>
                    </div>


                    <label class="item item-input item-stacked-label">
                        <span class="input-label"><span id="span-plate" class="ion-card"></span> Vehicle Number Plate</span>
                        <input id="car-plate" type="number" placeholder="12345678">
                    </label>


                    <!-- ////////////// Plate Code ////////////// -->    
                    <div>
                        <label class="item item-input item-stacked-label" style="border-bottom: none;">
                            <span class="input-label"><span class="ion-card"></span> Plate Code</span>
                        </label>
                        <div id="content_plate_code" class="row item item-input item-stacked-label" style="border-top: none;">
                            <label for="simplest"></label>       
                        </div>
                    </div>

                    <!-- ////////////// StakeHolders ////////////// -->    
                     <label class="item item-input item-stacked-label" style="border-bottom:none;">
                        <span class="input-label"><span id="span-plate" class="ion-android-people"></span> Stakeholders</span>
                       
                    </label> 
                     <ul class = "list" style="border: 0;" id="stakeholders_list">    
                    </ul>
                         




                    <button class="button login-button icon-left ion-android-add button_style" style="margin-top:5px;"  id="car">Add Car</button> 
                    <button class="button login-button icon-left ion-edit button_style" style="margin-top:5px;"  id="edit_car">Edit Car</button> 
                    <a  menu-close id="navigate" style="display:none;"></a>
                 
                 </div> 
             
             </div> 

         </div>
    
        </ion-content>
      </ion-pane>
      </ion-view>
    
      