<ion-view view-title="Car Info" cache-view="false" id="ion-view">
<ion-content style="background-color: #e3e3e3;">

    <div id="content" class="fullwidth" style="background-color: #e3e3e3;">
        <div class="card" style="background-color: #e3e3e3;">
            <div class="item item-text-wrap">
              
                    <p style="text-align: center;"><b id="vehicle_title">KIA PICANTO</b></p><br/>
            
                            <label  class="item  item-stacked-label" style="border:none;">
                              <span class="ion-model-s"><b> Vehicle Model</b></span>
                              <p id="carinfo_model"></p>
                            </label>

                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-android-car"><b> Vehicle Make</b></span>
                                <p id="carinfo_make"></p>
                            </label>

                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-android-time"><b> Vehicle Type</b></span>
                                <p id="carinfo_type"></p>
                            </label>
                         
                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-card"><b> Vehicle Year</b></span>
                                <p id="carinfo_year"></p>
                            </label>

                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-card"><b> Vehicle Plate Number</b></span>
                                <p id="carinfo_plate"></p>
                            </label>

                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-card"><b> Vehicle Plate Code</b></span>
                                <p id="carinfo_code"></p>
                            </label>

                                   
                            <label  class="item  item-stacked-label" style="border:none;">
                                <span class="ion-android-people"><b> Stakeholders</b></span>
                                <p id="carinfo_code"></p>
                            </label>

                             <ul class = "list" style="border: 0;" id="vehicle_stakeholders">    
                            </ul>

                            <!-- <button class="button login-button icon-left ion-trash-a" style="background-color: #e78200;color: #FFFFFF;border-radius:5px; margin-top:5px;"  onclick="deleteVehicle()">Delete Vehicle</button>  -->

                            <div style="display: inline; margin: auto;">

                                <button class="button  icon-left ion-model-s button_style " style="background-color: #e78200;color: #FFFFFF;border-radius:5px; margin-top:5px;"  onclick="editVehicle()" >Edit Vehicle</button> 
                                <button class="button  icon-left ion-trash-a button_style" style="background-color: #e78200;color: #FFFFFF;border-radius:5px; margin-top:5px;"  onclick="deleteVehicle()">Delete Vehicle</button> 
                            
                            </div>

                            <a  menu-close id="navigate" style="text-decoration : none; color : #000000; display:none;"></a>
                            <a  menu-close id="navigate_editcar" href="#/app/add_car" style="text-decoration : none; color : #000000; display:none;"></a>
                 
            </div>
        </div>
    </div>
</ion-content>

</ion-view>
            