<ion-view view-title="Home" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">
    
         <!-- <button class="button button-block button-positive" id="bluetooth_enabled">
            Bluetooth Enabled?
        </button>

        <button class="button button-block button-positive" id="enable_bluetooth">
            Enable Bluetooth
        </button>

        <button class="button button-block button-positive" id="gps_enabled">
            GPS Enabled?
        </button>

        <button class="button button-block button-positive" id="get_weather">
            Get Weather
        </button>

        <button class="button button-block button-positive" id="send_mail">
          Send Mail
        </button>  -->

        <!-- <button class="button button-block button-positive" id="send_sms" onclick="app.sendSms()">-->
         <!-- <button class="button button-block button-positive" id="send_sms">
          Send SMS
        </button>

        <button class="button button-block button-positive" onclick="toast();">
          Toast showShortTop
        </button>

        <button class="button button-block button-positive" id="hardware_monitoring">
                Hardware Monitoring
        </button>
       
        <hr/>

        <b>Distance: </b> <b style="text-align: center;" id="read_distance"></b>
        <br/>
        <b>Collision Value: </b> <b style="text-align: center;" id="read_collision"></b>  -->

        <!-- <button class="button button-positive" id="get_accident_info">
            My Accident
          </button>

          <button class="button button-positive" id="manual_accident">
            Manual Accident
          </button> -->
          <div id="content" class="fullwidth" style="background-color: #e3e3e3;">
                
         <div class="card" style="height:90%;">


          
          <div style="height: 30%; margin-top: 20%;">
            <img id="car_list_prompt" src="../img/driving_on.svg" style="width:100px;height: 100px;display: block;margin:auto;"/>
            <p id="car_name" style="text-align: center;"></p>
            <p style="text-align: center;"><b id="car_name_bold" ></b></p>
          </div>
         
          <div style="height: 30%; margin-top: 20%;">
            <img id="accident_img" src="../img/collision_off.svg" style="width:100px;height: 100px;display: block;margin:auto;"/>
          </div>


       
        </div>
        <a  menu-close id="navigate" style="text-decoration : none; color : #000000; display:none;"></a>
                            
         <!-- <hr/>

        <b>Distance: </b> <b style="text-align: center;" id="read_distance"></b>
        <br/>
        <b>Collision Value: </b> <b style="text-align: center;" id="read_collision"></b>    -->

</div>



    </ion-content>
    <div id="accidentModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
          
        <div class="modal-header" style="background-color: #FFFFFF;border:none;">
          <span class="close"></span>
          <h2></h2>
        </div>
        <div class="modal-body">


            <div class="row">
 
                <div  class="card col" id="myaccident"  style="background-color:#e3e3e3;padding:1px;
                border:1px solid #e78200;border-radius: 5px;">
                    <img style="width: 50px; height: 50px;display: block;margin: auto;" src="../img/collision_off.svg"/> 
                    <p style="text-align: center;">Me</p>
                </div>

                <div class="card col" id="manual" style="background-color:#e3e3e3;padding:1px;
                border:1px solid #e78200;border-radius: 5px;">
                    <img style="width: 50px; height: 50px;display: block;margin: auto;" src="../img/collision_off.svg"/> 
                    <p style="text-align: center;">Other</p>
                </div>

             </div>


        </div>
        <div class="modal-footer" style="background-color: #FFFFFF;border:none;">
          <h3></h3>
        </div>
      </div>
    
    </div>
  </ion-view>

  