<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

      <ion-nav-bar class="bar-stable">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">

          <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:#083b66;"></button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">

            <a class="button button-icon icon ion-android-notifications" style="color:#083b66;" menu-close href="#/app/notification"> </a>

            <button class="button button-icon icon ion-log-out" id="menu_logout" onclick="logout()" style="color:#e78200;"></button>

        </ion-nav-buttons>

      </ion-nav-bar>

      <ion-nav-view name="menuContent">



      </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable" style="background-color: #083b66">
        <h1 class="cursive_style title" style="color:#e3e3e3">Save Me</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>

          <ion-item style="pointer-events: none;" >
            <img class="round-img" src="../img/user.svg" id="menu_img" style="padding: 1px;" />
            <p style="text-align:center;"><b id="menu_username">Admin</b></p>
          </ion-item>

          <!-- ////////////// Home ////////////// -->
          <ion-item  class="item item-icon-left active" id="menu_home"  menu-close href="#/app/home">
            <i class="icon ion-android-home"></i>
              Home
          </ion-item>


          <!-- ////////////// Car List ////////////// -->
          <div style="border-bottom: none;" id="menu_carlist" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle item item-icon-left">
              <i href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle icon ion-model-s"></i>
              <i href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Car List</i>
              <span style="margin:0;padding:0">
                <a menu-close href="#/app/add_car"><img id="menu_addcar" onclick="s()" src="../img/add-button-inside-black-circle.svg"  style="float: right; right:auto; width: 10%; "/></a></span>
                <!-- <img src="../img/drop-down-arrow.svg" id="arrow" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="float: right; right:auto; width: 10%; margin-right:1%;"/> -->
              </span>
          </div>
            <span id="demo" menu-close>
                <!-- <ul class="collapse list-unstyled" id="homeSubmenu"> <li><a menu-close  style="text-decoration : none; color : #000000;" href="#/app/carinfo"> <div class="item item-button-right" style="border-top: none;border-bottom: none;font-size: 14px;font-weight: 500;" >Kia Picanto</div></a></li></ul> -->
                <ul class="collapse list-unstyled" id="homeSubmenu" menu-close>                    
                </ul>
            </span>
          </ion-item>
              

          <!-- ////////////// Statistics ////////////// -->
          <ion-item id="ion_item_statistics" class="item item-icon-left"  menu-close href="#/app/statistics">
            <i class="icon ion-stats-bars"></i>
              Statistics
          </ion-item>


          <!-- ////////////// Stakeholders ////////////// -->
          <ion-item  class="item item-icon-left"  menu-close href="#/app/stakeholders">
            <i class="icon ion-android-people"></i>
              Stakeholders
          </ion-item>

          <!-- ////////////// Previous Accidents ////////////// -->
          <ion-item  class="item item-icon-left"  id="previous_accidents_menu" menu-close href="#/app/previous_accidents">
            <i class="icon ion-ios-list"></i>
              Previous Accidents
          </ion-item>


          <!-- ////////////// Profile ////////////// -->
          <ion-item  class="item item-icon-left"  menu-close href="#/app/profile">
            <i class="icon ion-ios-contact"></i>
              My Profile
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>