<ion-view view-title="Previous Accidents" cache-view="false" id="ion-view">
    
        <ion-content>

          <!-- <button id="cleartbl">Clear tables</button> -->


            <div class="list list-inset" id="search_content" style="display: none;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" id="search">
                </label>
                <p style="text-align: right;color: #083b66;">Total: <b id="total_accidents"></b></p>
            </div>
            <div style="margin: 10px;" id="table_div">
            <table>
                    <thead>
                    <tr>
                        <th>Accident Date</th>
                        <th>Day of Week</th>
                        <th>Accident Time</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Street</th>
                        <th>Light Condition</th>
                        <th>Weather Condition</th>
                        <th>Speed Limit(m/s)</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
<!-- 
          <div  style="display: block; margin: auto;width:100px;height:100px;">
              <img src="../img/good-mood-emoticon.svg" />
          </div> -->
          <div id="no_accident" class="fullwidth" style="background-color: #e3e3e3;display: none;">
            <img src="../img/good-mood-emoticon.svg" style="width: 100px;height: 100px;margin: auto; display: block;margin-top:55%;"/>
            <p style="text-align: center;color:#083b66;">No Accidents</p>
            </div>
        </ion-content>
      </ion-view>
    