<ion-view view-title="Profile" cache-view="false" id="ion-view" >
    <ion-pane>
        <ion-content style="background-color: #e3e3e3;">
              
                <div  class="card" style="background-color: #FFFFFF;" id="login-div">
              
            <img  src="../img/user.svg"  id="change_img" class="round-img" style="padding:1px; margin-top:4px;margin-bottom:4px;"/>
           
            <div class="alert alert-warning" style="display: none;" id="google_alert">
                <strong>Google Account Login</strong> This alert remind you that you login as google account.
            </div>
           
            <div class="list"> 
                            <span class="item item-icon-left item-icon-right" style="border-top: none;" id="username_profile">

                                    <i class="icon ion-ios-person" style="color:#083b66"></i>
                                    <i id="profile_username"></i>
                                    <span class="icon ion-edit" id="change_username"></span>
                  
                                  </span>
                  
                                  <span class="item item-icon-left item-icon-right" id="password_profile">
                  
                                      <i class="icon ion-locked" style="color:#083b66"></i>
                                      <i id="profile_password">Change Password</i>
                                      <i class="icon ion-edit" id="change_password"></i>
                        
                                  </span>
                  
                                  
                                    <!-- /////////////////////////// First Name /////////////////////// -->
                                    <span class="item item-icon-left item-icon-right">
                                        <i class="icon ion-person" style="color:#083b66"></i>
                                        <i id="profile_first_name">First Name</i>
                                        <i class="icon ion-edit" id="change_first_name"></i>
                                    </span>

                                    <!-- /////////////////////////// Middle Name /////////////////////// -->
                                    <span class="item item-icon-left item-icon-right">
                                        <i class="icon ion-person" style="color:#083b66"></i>
                                        <i id="profile_middle_name">Middle Name</i>
                                        <i class="icon ion-edit" id="change_middle_name"></i>
                                    </span>

                                     <!-- /////////////////////////// Last Name /////////////////////// -->
                                    <span class="item item-icon-left item-icon-right">
                                        <i class="icon ion-person" style="color:#083b66"></i>
                                        <i id="profile_last_name">Last Name</i>
                                        <i class="icon ion-edit" id="change_last_name"></i>
                                    </span>



                                  <span class="item item-icon-left item-icon-right" id="email_profile">
                  
                                      <i class="icon ion-ios-email" style="color:#083b66"></i>
                                        <i id="profile_email"></i>
                                      <span class="icon ion-edit" id="change_email"></span>
                        
                                  </span>
                                
                                  <span class="item item-icon-left item-icon-right">
                  
                                      <i class="icon ion-android-phone-portrait" style="color:#083b66"></i>
                                        <i id="profile_mobile">Please Fill mobile Number</i>
                                      <i class="icon ion-edit" id="change_mobile"></i>
                            
                                  </span>

                                  <span class="item item-icon-left item-icon-right">
                  
                                    <i class="icon ion-home" style="color:#083b66"></i>
                                      <i id="profile_address">Address</i>
                                    <i class="icon ion-edit" id="change_address"></i>
                          
                                  </span>

                                  <span class="item item-icon-left item-icon-right">
                                    <i class="icon ion-ios-time" style="color:#083b66"></i>
                                      <i id="profile_dob">Date of Birth</i>
                                    <i class="icon ion-edit" id="change_dob"></i>
                                  </span>

                                  <span class="item item-icon-left item-icon-right">
                  
                                    <i class="icon ion-ios-list" style="color:#083b66"></i>
                                      <i id="profile_ssn">SSN</i>
                                    <i class="icon ion-edit" id="change_ssn"></i>
                          
                                  </span>
 
                                  <span class="item item-icon-left item-icon-right">
                                    <i class="icon ion-ios-list" style="color:#083b66"></i>
                                      <i id="profile_license_number">License Number</i>
                                    <i class="icon ion-edit" id="change_license_number"></i>
                                  </span>

                                  <span class="item item-icon-left item-icon-right">
                                    <i class="icon ion-ios-time" style="color:#083b66"></i>
                                      <i id="profile_license_date">License Date</i>
                                    <i class="icon ion-edit" id="change_license_date"></i>
                                  </span>

                                  <span class="item item-icon-left item-icon-right item-toggle">
                                    <i class="icon ion-android-phone-portrait" style="color:#083b66"></i>
                                    
                                Use Hardware Detection
                                    <label class="toggle toggle-energized">
                                      <input type="checkbox" id="use_hardware">
                                      <div class="track">
                                        <div class="handle"></div>
                                      </div>
                                    </label>
                                </span>

                                  <span class="item item-icon-left">
                                    <i class="icon ion-ios-flag" style="color:#083b66"></i>
                                    
                                    <div id="content_nationality" class="row item item-input item-stacked-label" style="border-top: none;">
                                        <label for="simplest"></label>
                                    </div>
                          
                                  </span>

                                <span class="item item-icon-left">
                                    <i class="icon ion-android-phone-portrait" style="color:#083b66"></i>
                                    
                                    <div id="content_gender" class="row item item-input item-stacked-label" style="border-top: none;">
                                        <label for="simplest"></label>
                                    </div>
                          
                                </span>

                                <span class="item item-icon-left">
                                    <i class="icon ion-ios-list" style="color:#083b66"></i>
                                    
                                    <div id="content_martial" class="row item item-input item-stacked-label" style="border-top: none;">
                                        <label for="simplest"></label>
                                    </div>
                          
                                </span>

                                <span class="item item-icon-left">
                                    <i class="icon ion-ios-list" style="color:#083b66"></i>
                                    
                                    <div id="content_license" class="row item item-input item-stacked-label" style="border-top: none;">
                                        <label for="simplest"></label>
                                    </div>
                          
                                </span>


                                  

                                </div>
                <button class="button login-button icon-right ion-android-done" style="background-color: #083b66; border-color: #e78200;color: #FFFFFF;margin-bottom: 5px; border-radius:5px;"  id="save_changes">Save Changes</button> 
                <a  menu-close id="navigate" style="text-decoration : none; color : #000000; display:none;"></a>
                    </div> 
                
                </div> 

            </div>
            
        </ion-content>
        
       
       
      </ion-pane>
      <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                
              <div class="modal-header" style="background-color: #FFFFFF;border:none;">
                <span class="close"></span>
                <h2></h2>
              </div>
              <div class="modal-body">


                  <div class="row">
  
                      <div class="card col" id="camera" style="background-color:#e3e3e3;padding:1px;
                      border:1px solid #e78200;border-radius: 5px;">
                          <img style="width: 50px; height: 50px;display: block;margin: auto;" src="../img/camera.svg"/> 
                          <p style="text-align: center;">Camera</p>
                      </div>
      
                      <div class="card col" id="gallery" style="background-color:#e3e3e3;padding:1px;
                      border:1px solid #e78200;border-radius: 5px;">
                          <img style="width: 50px; height: 50px;display: block;margin: auto;" src="../img/gallery.svg"/> 
                          <p style="text-align: center;">Gallery</p>
                      </div>
      
                   </div>


              </div>
              <div class="modal-footer" style="background-color: #FFFFFF;border:none;">
                <h3></h3>
              </div>
            </div>
          
      </ion-view>
     
      