<ion-view view-title="Stakeholders" cache-view="false" id="ion-view">
    
        <ion-content style="background-color: #e3e3e3;">
         <div class="fullwidth">

            <div class="card">
                <div class="item item-divider" style="background-color: #083b66;color:#FFFFFF;">
                  Call Stakeholders
                </div>
                <div class="item item-text-wrap" id="stakeholder_list">
                </div>
            </div>

            
        </div>
        </ion-content>  
      </ion-view>
    
      