<ion-view view-title="Statistics" cache-view="false" id="ion-view">
  <ion-content style="background-color: #e3e3e3;"> 
   
       
        <div class="card">
          <div class="item item-divider" style="background-color: #083b66;color:#FFFFFF">
            Dangerous Regions
          </div>
          <div class="item item-text-wrap" id="map" style="height: 300px;">
      
          </div>
        </div>

  


          <div class="card">
            <div class="item item-divider" style="background-color: #083b66;color:#FFFFFF">
              Day Statistics
            </div>
            <div class="item item-text-wrap">
              <div class="col-md-12 col-xs-12 col-sm-12">
                    
                <div class="box box-primary">
                 
                  <div class="box-body">
                    <div id="bar-chart" style="height: 300px;"></div>
                  </div>
                  
                </div></div>
            </div>
          </div>
 

          <div class="card">
            <div class="item item-divider" style="background-color: #083b66;color:#FFFFFF">
              Light Statistics
            </div>
            <div class="item item-text-wrap">
              <div class="col-md-12 col-xs-12 col-sm-12">
                  
                <div class="box box-primary" >
              
                  <div class="box-body">
                    <div id="donut-chart" style="height: 300px;"></div>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>


          <div class="card">
            <div class="item item-divider" style="background-color: #083b66;color:#FFFFFF">
              Age Statistics
            </div>
            <div class="item item-text-wrap">
              <div class="col-md-12 col-xs-12 col-sm-12">
                    
                <div class="box box-primary" >
              
                  <div class="box-body">
                    <div id="donut-chart2" style="height: 300px;"></div>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </div>   
            
           
               
        </ion-content>
    
      </ion-view>
