<ion-view view-title="List Victims" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">

<div class="list" id="victim_list" style="margin-bottom: 0px;padding-bottom: 0px;">


</div>

<button class="button button-icon icon ion-android-add" id="add_victim" style="right:0;float:right;margin:0;color:#e78200; "></button>
<a  menu-close  id="edit_accident" href="#/app/edit" style="text-decoration : none; color : #000000;display: none;">Navigate</a>
    
</ion-content>
</ion-view>
        