<ion-view view-title="Notifications" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">
        
        <div class="card">
            
             <p style="text-align: center;display: none;"><b id="city">Mount Lebanon Governorate</b></p>
             
             <p style="text-align: center;display: none;"><b id="country">Baabda</b></p>

             <p style="text-align: end;margin-right: 4px;" ><b id="date">Friday 3-8-2018</b></p>
             <p style="text-align: end;margin-right: 4px;" ><b id="time">12:30</b></p>

            <label  class="item  item-stacked-label" style="border:none;">
                <span class="ion-document-text"><b> Subject</b></span>
                <p  id="subject"></p>
            </label>

            <label  class="item  item-stacked-label" style="border:none;">
                <span class="ion-document-text"><b> Body</b></span>
                <p  id="notification_body"></p>
            </label>
            
            <div id="no_map">
                <label  class="item  item-stacked-label" style="border:none;">
                        <span class="ion-map"><b> Accident Location</b></span>
                </label>

                <!-- <a id="go_map"  style="width: 100px;height: 100px;padding:4px;">
                    <img src="../img/google.svg" style="width: 100px;height: 100px;"/>
                </a> -->

                   <div class="item item-text-wrap" id="map" style="height: 300px;">     
                                 
            </div>
          </div>

 
    </ion-content>
</ion-view>

