<ion-view view-title="" cache-view="false" id="ion-view">
        <ion-pane>
              <ion-content>
              
                  <div id="content" class="fullwidth" style="background-color: #e3e3e3;">
                          
                    <div  class="card" style="background-color: #FFFFFF;" id="login-div">
      
                       <div class="list" style="margin: 20px;">
      
                          <h3 class="cursive_style" style="text-align: center;" id="car_action">Edit Accident</h3>

                          <label class="item item-input item-stacked-label" style="border-top: none;">
                            <span class="input-label"><span id="span-plate" class="ion-card"></span> Victim Name <span style="color:red;">*</span></span>
                            <input id="victim_name" type="text" placeholder="Victim Name"/>
                          </label>

                          <label class="item item-input item-stacked-label" style="border-top: none;">
                            <span class="input-label"><span id="span-plate" class="ion-card"></span> Victim Age <span style="color:red;">*</span></span>
                            <input id="victim_age" type="number" placeholder="Victim Age"/>
                          </label>

                          <label class="item item-input item-stacked-label" style="border-top: none;">
                            <span class="input-label"><span id="span-plate" class="ion-card"></span> Victim Cause <span style="color:red;">*</span></span>
                            <input id="victim_cause" type="text" placeholder="Victim Cause"/>
                          </label>

                          <!-- ////////////// Victim Category ////////////// -->
                          <div>
                              <label class="item item-input item-stacked-label" style="border-bottom: none;">
                                  <span class="input-label"><span class="ion-android-car"></span> Victim Category <span style="color:red;">*</span></span>
                              </label>
                          
                              <div id="content_victim_category" class="row item item-input item-stacked-label" style="border-top: none;">
                                      <label for="simplest"></label>
                              </div>
                          </div>
                          
      
                          <!-- ////////////// Injury Severity ////////////// -->
                          <div>
                              <label class="item item-input item-stacked-label" style="border-bottom: none;">
                                  <span class="input-label"><span class="ion-android-time"></span> Injury Severity <span style="color:red;">*</span></span>
                              </label>
                              <div id="content_injury_severity" class="row item item-input item-stacked-label" style="border-top: none;">
                                  <label for="simplest"></label>       
                              </div>
                          </div>
      
                          <!-- ////////////// Hospital ////////////// -->    
                          <div>
                              <label class="item item-input item-stacked-label" style="border-bottom: none;">
                                  <span class="input-label"><span class="ion-card"></span> Hospital <span style="color:red;">*</span></span>
                              </label>
                              <div id="content_hospital" class="row item item-input item-stacked-label" style="border-top: none;">
                                  <label for="simplest"></label>       
                              </div>
                          </div>

                          <!-- ////////////// Patient Status ////////////// -->    
                          <div>
                            <label class="item item-input item-stacked-label" style="border-bottom: none;">
                                <span class="input-label"><span class="ion-card"></span> Patient Status <span style="color:red;">*</span></span>
                            </label>
                            <div id="content_patient_status" class="row item item-input item-stacked-label" style="border-top: none;">
                                <label for="simplest"></label>       
                            </div>
                          </div>
 
                          <!-- ////////////// Chief Complaint ////////////// --> 
                          <label class="item item-input item-stacked-label" style="border-top: none;">
                            <span class="input-label"><span id="span-plate" class="ion-card"></span> Chief Complaint <span style="color:red;">*</span></span>
                            <input id="chief_complaint" type="text" placeholder="Chief Complaint"/>
                          </label>
                           
      
                          <label class="item item-input item-stacked-label" style="border-bottom: none;">
                            <span class="input-label"><span id="span-plate" class="ion-card"></span> Additional Information</span>
                            <textarea id="add_info" type="text" rows="3" placeholder="Add Info"></textarea>
                          </label>

      
      
      
                          <button class="button login-button icon-left ion-android-add button_style" style="margin-top:5px;"  id="edit_victim">Save Accident</button> 
                         
                          <a  menu-close id="navigate" style="display:none;"></a>
                       
                       </div> 
                   
                   </div> 
      
               </div>
          
              </ion-content>
            </ion-pane>
            </ion-view>
          
            