<ion-view view-title="Home" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">

                <div class="monthly" id="mycalendar" style="background-color: #e3e3e3;"></div>
                



                <div class="card" id="table_details">

                <div class="list list-inset" id="search_content" style="background-color: #FFFFFF;">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="text" placeholder="Search" id="search">
                    </label>
                    <p style="text-align:right;color: #083b66;">Total: <b id="total_accidents"></b></p>
                </div>

                
                <div style="background-color: #FFFFFF;margin: 10px;" id="table_div" >
                <table style="background-color: #FFFFFF;" id="accident_info">
                    <thead>
                    <tr>
                        <th>Accident Date</th>
                        <th>Day of Week</th>
                        <th>Accident Time</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Street</th>
                        <th>Light Condition</th>
                        <th>Weather Condition</th>
                        <th>Speed Limit</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="accident_tbody">
                        

                        
                    </tbody>
                </table>
            </div>
        </div>

        <a  menu-close  id="edit_accident" href="#/app/edit" style="text-decoration : none; color : #000000;display: none;">Navigate</a>
    </ion-content>
  </ion-view> 
