
#side {
	-webkit-box-shadow: -4px 0px 4px -2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: -4px 0px 4px -2px rgba(0,0,0,0.1) inset;
	box-shadow: -4px 0px 4px -2px rgba(0,0,0,0.1) inset;
	min-width: 240px;
	max-width: 320px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	flex: 1;
}

#header {
	text-align: center;
	padding: 0.5rem;
}

#header .scope {
	display: inline-block;
	font-size: 0.9em;
	font-weight: 600;
	padding: 4px 8px 8px;
}

#header .title {
	border: 1px solid #aaa;
	border-radius: 4px;
	color: #888;
	padding: 0.25rem;
	margin: 0.25rem 0;
}

#header .title .name {
	color: #222;
	font-weight: 600;
}

#header .desc {
	border-top: 1px dotted #ccc;
	font-size: 0.8rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
	position: relative;
}

#navigator {
	display: flex;
	padding: 8px;
}

#actions,
#options {
	border-top: 1px dashed #ddd;
}

#actions {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}

#actions button {
	flex: 1 1 auto;
	margin: 0 0 2px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#logs {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	font-size: 0.7rem;
	flex: 1 1 auto;
}

#logs > div {
	border-bottom: 1px dashed #ddd;
	padding: 0.5em 1em;
}

#logs > div:nth-child(n) { opacity: 0.2; }
#logs > div:nth-child(5) { opacity: 0.4; }
#logs > div:nth-child(4) { opacity: 0.6; }
#logs > div:nth-child(3) { opacity: 0.8; }
#logs > div:nth-child(2) { opacity: 1.0; }
#logs > div:nth-child(1) { opacity: 1.0; font-weight: bold; }

#charts {
	min-width: 200px;
	overflow-y: scroll;
	padding: 16px;
	flex: 5;
}

#charts .wrapper {
	position: relative;
	max-height: 768px;
	max-width: 768px;
	height: 100%;
}

@media (max-width: 640px) and (orientation: portrait) {
	body {
		flex-direction: column;
	}

	#side {
		-webkit-box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.1) inset;
		-moz-box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.1) inset;
		box-shadow: 0px -4px 4px -2px rgba(0,0,0,0.1) inset;
		max-height: 50vh;
		max-width: initial;
		flex: 0 1 auto;
	}

	#actions {
		flex-direction: row;
	}

	#actions button {
		margin: 0 2px 0 0;
	}

	#logs {
		min-height: 15vh;
		max-height: 15vh;
	}
}
