#ptr-light-indicator {
    width: 35px;
    height: 55px;
    margin: 0 auto;
    transform: translateY(0);
    position: relative;
    top: -55px;
    transition: transform 300ms ease;
}
#ptr-light-spinner {
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 10px;
    background: url('../img/reload.svg');
    /*icon by loading.io*/
    background-size: contain;
}
.rotateLoop {
    -webkit-animation: rotation 0.9s infinite linear;
    -moz-animation: rotation 0.9s infinite linear;
    -o-animation: rotation 0.9s infinite linear;
    animation: rotation 0.9s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
