/**
 * jQuery Really Simple Dialog plugin 1.0
 *
 * Copyright (c) 2017 NTD3004 (https://github.com/NTD3004/JQuery-Really-Simple-Dialog)
 *
 * Samples and instructions at: 
 * https://github.com/NTD3004/JQuery-Really-Simple-Dialog
 *
 * This script is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published by the Free 
 * Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 */

.simple-dialog {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
    -webkit-transition: opacity 1ms .25s, -webkit-transform .25s;
    transition: opacity 1ms .25s, -webkit-transform .25s;
    -o-transition: transform .25s, opacity 1ms .25s;
    transition: transform .25s, opacity 1ms .25s;
    transition: transform .25s, opacity 1ms .25s, -webkit-transform .25s;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.simple-dialog.active {
	height: 100%;
    opacity: 1;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.simple-dialog-content {
	background-color: #fff;
    width: 280px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
}

.simple-dialog-header, .simple-dialog-footer {
	padding: 15px;
    position: relative;
    text-align: center;
}

.simple-dialog-body {
	padding: 0 15px;
}

.simple-dialog-header .title {
	margin: 0;
	padding: 0;
}

.simple-dialog-close {
	color: #999999;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 30px;
    margin-top: -5px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    float: right;
}

.simple-dialog-close:before {
	content: "\00d7"; 
	color: #fff;
	font-weight: bold;
	font-family: Arial, sans-serif;
}

.simple-dialog-button {
	display: block;
    width: 200px;
    margin: 15px auto;
    color: #fff;
    background-color: #083b66;
    position: relative;
    display: inline-block;
    padding: 9px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
}

.simple-dialog-button.accept, .simple-dialog-button.cancel {
    width: 30%;
}

.simple-dialog-button.accept {
	background-color: #083b66;
}

.simple-dialog-button.cancel {
	background-color: rgb(134, 142, 150);
}
