
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
	padding: 0;
	background-color: #e3e3e3;
}

.fullwidth
{
    width:100%;
    height: 100%;
    overflow-y: scroll;
}


.notification_right
{
    position: absolute; 
    right: 0;
}

.notification_left
{
    position: absolute; 
    left: 0;
}

.login_style
{
	font-family: cursive;
}

.signup_style
{
	font-family: cursive;
}

.cursive_style
{
	font-family: cursive;
}

.login-img
{
	width:100px;
	height:100px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.round-img
{
	width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 2px #e78200; 
}
.holder
{
  width:100%;
  height:100%;
  display: none;
  background-color: #e3e3e3;
  
}

.holder-img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.square-img
{
	width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    border-radius: 10%;
    display: block;
    margin: auto;
    border: solid 2px #990000; 
	z-index: 30;
}

.center-img
{
	width:100px;
    height:100px;
	display: block;
    margin: auto;
}

.card-img
{
	width:100px;
	height:100px;
	display: block;
	margin: auto;
	position: relative;
	border-radius: 4px;
	padding: 15px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	min-height: 80px;
	margin-bottom: 3px;
}

.card-style
{
	width:100px;
	height:100px;
	position: relative;
	border-radius: 4px;
	padding: 15px;
	background-color: #FFFFFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	min-height: 80px;
	margin-bottom: 3px;
}

.transparent-no-border-bottom
{
	border-bottom-color: transparent;
}

.transparent-border
{
	border-color: transparent;
}

.no-border
{
	border-style:none;
}

.login-img-div
{
	margin-top: 60%;	
}

.login-img-txt
{
	text-align: center;
}

.form-control.login-input
{
	border: 2px solid #cccccc;
	padding: 5px;
}

.form-control.login-input:focus
{
	box-shadow: 0 0 5px #e78200;
	border: 1px solid #e78200;
}

.button.login-button
{
	display: block; 
	margin: auto; 
	background-color: #083b66;
	color:#FFFFFF;
}

.half-circle 
{
	display: block;
	margin: auto;
    width: 190px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border: 1px solid #e78200;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
	white-space: nowrap; 
	margin:10px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #e3e3e3;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/**********************************************************************************************************/

.active
{
	background-color: #e3e3e3;
	color:#083b66;
}

/**********************************************************************************************************/

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	position: fixed;
	bottom: 0;
	background-color: #fefefe;
	width: 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {bottom: -300px; opacity: 0} 
	to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
	from {bottom: -300px; opacity: 0}
	to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/********************************************** MENU ************************************************************/

.submenu_active
{
	background-color: #e78200;
	color:#FFFFFF;
}

/**********************************************************************************************************/

.button_style
{
	background-color: #083b66; 
	border-color: #e78200;
	color: #FFFFFF; 
	border-radius:5px;
}

.profile_empty
{
	color:#e3e3e3;
}
