<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

      <ion-nav-bar class="bar-stable">

        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">

          <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:#083b66;"></button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-notifications" style="color:#083b66;" menu-close href="#/app/notification"> </a>

            <button class="button button-icon icon ion-log-out" id="menu_logout" onclick="logout()" style="color:#e78200;"></button>

        </ion-nav-buttons>

      </ion-nav-bar>

      <ion-nav-view name="menuContent">



      </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable" style="background-color: #083b66">
        <h1 class="cursive_style title" style="color:#e3e3e3">Save Me</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>

          <ion-item style="pointer-events: none;" >
            <img class="round-img" src="../img/police.svg" id="menu_img" style="padding: 1px;" />
            <p style="text-align:center;"><b id="menu_username">Police</b></p>
          </ion-item>

          <ion-item  class="item item-icon-left active" id="menu_home"  menu-close href="#/app/home">

            <i class="icon ion-model-s"></i>
              List Accidents

           </ion-item>



          <!-- ////////////// Profile ////////////// -->
          <ion-item  class="item item-icon-left"  menu-close href="#/app/profile">
            <i class="icon ion-ios-contact"></i>
              My Profile
          </ion-item>


        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>