<ion-view view-title="Profile" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">
            <div id="content" style="overflow-y: auto; overflow-x: hidden; overflow-y: hidden; height: 100%; width:100%;">
          
            <div  class="card" style="background-color: #FFFFFF;" id="login-div">
                <img  src="../img/police.svg"  id="change_img" class="round-img" style="padding:1px; margin-top:4px;margin-bottom:4px;"/>
         <div class="list">
                        <span class="item item-icon-left item-icon-right" style="border-top: none;">

                                <i class="icon ion-ios-person" style="color:#083b66"></i>
                                <i id="profile_username"></i>
                                <span class="icon ion-edit" id="change_username"></span>
              
                              </span>
              
                              <span class="item item-icon-left item-icon-right">
              
                                  <i class="icon ion-locked" style="color:#083b66"></i>
                                  <i id="profile_password">Change Password</i>
                                  <i class="icon ion-edit" id="change_password"></i>
                    
                              </span>
              
                              <span class="item item-icon-left item-icon-right">
              
                                  <i class="icon ion-ios-email" style="color:#083b66"></i>
                                    <i id="profile_email"></i>
                                  <span class="icon ion-edit" id="change_email"></span>
                    
                              </span>
                            </div>
            <button class="button login-button icon-right ion-android-done" style="background-color: #083b66; border-color: #e78200;color: #FFFFFF;margin-bottom: 5px; border-radius:5px;"  id="ambulance_save_changes">Save Changes</button> 
            <a  menu-close id="navigate" style="text-decoration : none; color : #000000; display:none;"></a>
                </div> 
            
            </div> 

        </div>
        
    </ion-content>
</ion-view>