<ion-view view-title="Notifications" cache-view="false" id="ion-view">
    <ion-content style="background-color: #e3e3e3;">

        <div class="list" id="notifications_list">

            
        </div>

        <div id="no_notifications" class="fullwidth" style="display: none;">
            <img src="../img/notification.svg" style="width: 100px;height: 100px;margin: auto; display: block;margin-top:55%;"/>
            <p style="text-align: center;color:#083b66;">No Notifications</p>
        </div>

    </ion-content>
</ion-view> 